// Author: Marco Crank
// Purpose: Handle all the styling for the messages component.

@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';

// Alot more work to do in here to refactor
#message-container{
  margin-top: 5rem;
}

.messages {
  padding: 15px 15px 0 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  background-color: $msgContainerBackgrnd;
  border-radius: 10px 10px 0 0;
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-button {
    display: none;
  }
  -ms-overflow-style: none;

  .msg-history {
    padding-bottom: 15px;
  }
}

img{
  max-width:75%;
  border-radius: 5px;
}

.time-date {
  color: #d3d3d3;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.msg-edit {
  color: green;
  float: right;
  cursor: pointer;
}

.msg-del {
  color: red;
  float: right;
  cursor: pointer;
}

// Incoming Messages
.incoming-msg-img {
  display: inline-block;
  width: 6%;
}

.incoming-msg {
  // margin:13px 0 13px;
  padding: 12px 0 12px;
}

.received-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }

 .received-withd-msg {
  width: 60%;
}

.received-width-msg p {
  background: $msgRecBackgrnd none repeat scroll 0 0;
  border-radius: 5px;
  color: $msgRecTextColor;
  font-size: $msgTextSize;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 60%;
}

// Sent Messages
.sent-msg p {
  background: $msgSentBackgrnd none repeat scroll 0 0;
  border-radius: 5px;
  font-size: $msgTextSize;
  margin: 0;
  color:$msgSentTextColor;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.outgoing-msg-img {
  width: 6%;
  float: right;
}

.outgoing-msg {
  overflow:hidden;
  padding: 12px 0 12px;
}

.sent-msg {
  float: right;
  width: 50%;
  padding: 0 10px 0 0;
}

// Input Box
.input-msg-write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: $msgTextSize;
  min-height: 48px;
  width: 100%;
  outline: none;
}

.type-msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  background-color: white;
  padding: 0 15px 0 15px;
  border-radius: 0 0 5px 5px;
}

.msg-send-btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 20%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 15px;
  top: 11px;
  width: 40px;
}

// .messaging {
//   padding: 0 0 50px 0;
// }

.msg-history {
  height: 400px;
  overflow-y: auto;
}