@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';

#add-event-button {
  color: rgb(8, 185, 8);
}

#delete-btn-event {
  color: red;
  margin-left: 95px;
}

#edit-btn-event {
    color:blue;
    margin-left: 95px;
}

#add-edit-event {
  margin-top:-370px;
  }

.form-group {
    width: 238px;
}

.form-event-location{
    margin-left: -20px;
}

#editModalHeader {
    background-color: $msgSentBackgrnd;
    margin-bottom: -100px;
}
.modal-body {
   margin: 0%;
   padding: 0%;
   border-radius: 0%;
}
#events-modal-container {
    background-color: $msgSentBackgrnd;
}

#event-button {
    background-color: $msgSentBackgrnd;
}
