@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';

#add-event-button {
  color: rgb(16, 17, 16);
}

#delete-btn-event {
  color: red;
  margin-left: 95px;
  cursor: pointer;

}

#edit-btn-event {
    color: green;
    margin-left: 95px;
    cursor: pointer;

}

#add-edit-event {
  margin-top:-370px;
  }

.form-group {
    width: 238px;
}

.form-event-location{
    margin-left: -20px;
}

#editModalHeader {
    background-color: $msgSentBackgrnd;
    margin-bottom: -100px;
}
.modal-body {
   margin: 0%;
   padding: 0%;
   border-radius: 0%;
}
#events-modal-container {
    background-color: $msgSentBackgrnd;
}

#event-button {
    background-color: $msgSentBackgrnd;
}

.modal-header {
   background-color: $msgSentBackgrnd;
}
#eventModalLabel {
    background-color: $msgSentBackgrnd;
}