{
  "firebaseKeys": {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "messagingSenderId": ""
  },
"weatherbitKey": {
  "apiKey": ""
}
}