@import '~bootstrap/scss/bootstrap';

.avatarImage {
  height: 50px;
  width: 50px;
  margin: 2px;
}

.oneLoserDiv {
  border: 1px solid black;
  border-radius: 4px;
}

#loserModalHeader, #losersBody {
  background: rgba(0, 0, 0, 0.15);
  background-image: url(../../e1.jpg);
    .oneLoserDiv {
      background-color: white;
    }
    #losersTitle {
      background-image: url(../../e1.jpg);
      color: white;
    }
}

#avatarSelectDiv {
  border: 1px solid black;
  border-radius: 4px;
  background-color: burlywood;
  margin-bottom: 10px;
}

#losersContent {
  border: darkgrey double 4px;
}

#avatarsHeader, .onePendingLoserName {
  color: white;
}