@import '~bootstrap/scss/bootstrap';

.avatarImage {
  height: 50px;
  width: 50px;
  margin: 2px;
}

.oneLoserDiv {
  border: 1px solid black;
  border-radius: 4px;
}

#loserModalHeader, #losersBody {
  background-color: burlywood;
    .oneLoserDiv {
      background-color: white;
    }
}

#avatarSelectDiv {
  border: 1px solid black;
}